
$main-font-family: "Lato", sans-serif;
$second-font-family: "Red Hat Display", sans-serif;
$font-size: 19px;

$bg-color: #fff;
$main-font-color: #565656;
$color-black: #000;

$container-width: 1200px;

$color-light-gray: #7b7b7b;;